*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
img{
    display: block;
    width: 21px;
    height: 21px;
}
body{
    background-color: rgb(228, 228, 228);
}
h3{
    color: rgb(96, 141, 136);
    font-size: 16px;
    margin-bottom: 2%;
}
p{
    color: rgb(58, 58, 58);
    font-size: 19px;
    margin-bottom: 3%;
}
.operacion{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.titulo-operacion{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-bottom: 2px;
}
.detalles-lista{
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    /*De las tres cajas hijas de la caja "operaciones" a esta
    le pongo el heigh: 100%; para que sea esta
    la que intente ocupar todo el alto que le deje
    el flex. Sí pusiera 100% en las tres cajas hijas,
    las tres cajas ocuparían el 33.3% de la caja padre (operaciones)*/
}
.acciones{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    margin-top: 2px;
}
.acciones a{
    text-decoration: none;
    background-color: rgb(20, 98, 110);
    padding: 5%;
    border-radius: 7%;
    color: white;
    font-weight: 400;
    display: block;
}