*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
img{
    display: block;
    width: 21px;
    height: 21px;
}
body{
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3{
    color: rgb(96, 141, 136);
    padding-bottom: 2%;
    font-size: 16px;
}
p{
    color: rgb(58, 58, 58);
    font-size: 19px;
}
h4{
    background-color: rgb(20, 98, 110);
    padding: 5%;
    border-radius: 7%;
    color: white;
    font-weight: 400;
}
.side-nav{
    width: 100%;
    height: 100%;
}
.titulo-operacion,.detalles-lista,footer{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px,10px,black;
    margin: 2px;
}
.titulo-operacion{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.detalles-lista{
    
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7%;
}
.detalle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
}